@media only screen and (min-width : 769px) {
    #wrapper {
        min-width: 1200px;
        max-width: 2000px;
        margin: 0 auto;
    }

    .only-pc {
        display: block !important;
    }

    .only-sp {
        display: none !important;
    }
}

@media only screen and (min-width : 320px) and (max-width : 768px) {
    .container {
        padding-left: 10px !important;
    }

    .row {
        margin: 0 !important;
    }

    #wrapper {
        min-width: 320px;
        max-width: 768px;
        margin: 0 auto;
    }

    p {
        font-size: 120% !important;
    }

    h5 {
        font-size: 150% !important;
        font-weight: bold;
    }

    .only-pc {
        display: none !important;
    }

    .only-sp {
        display: block !important;
    }

    .popular-img {
        flex-direction: column !important;
    }

    .popular-img img {
        width: 100%;

        flex-wrap: wrap;
        padding-bottom: 2rem;
    }

    .popular-img img:last-child {
        padding-bottom: 0;
    }
}

@media only screen and (max-width : 320px) {

    #wrapper {
        max-width: 320px;
        margin: 0 auto;
    }

    .only-pc {
        display: none !important;
    }

    .only-sp {
        display: block !important;
    }

    .popular-img img {
        display: block !important;
        flex-wrap: wrap;
    }
}