@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 13px;
}

h3 {
    font-size: 210%;
}

p {
    font-size: 130%;
}

#site {
    position: relative;
}

#wrapper {
    max-width: 100%;
}

.container {
    max-width: 1140px;
    padding: 0;
    margin: 0 auto;
}

img {
    width: 100%;
}

.row {
    display: flex;
    flex-basis: 100%;
}

a {
    display: block;
}

/* HEADER */

#wp-respon-menu {
    display: none;
}

#header {
    padding-top: 27px;
    padding-bottom: 9px;
    margin-bottom: 33px;
    border-bottom: 2px solid whitesmoke;
}

#header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

#header-top form {
    position: relative;
}

#header-top input {
    width: 247px;
    height: 42px;
    background-color: #131619;
    border: none;
    color: white;
    padding-left: 13px;
}

#header-top form button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #131619;
    border: none;
    color: #909090;
    font-size: 25px;
}

#header-bottom {
    border-right: 10px solid #ff2d2d;
    height: 36px;
}

#main-menu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
}

#main-menu li:hover a {
    color: #4db2ec;
}

#main-menu li a {
    font-size: 16px;
    font-weight: 600;
    color: #eeeeee;
    margin-right: 40px;
}

#respon-menu {
    position: absolute;
    overflow: hidden;
    display: none;
    list-style-type: none;
    background-color: #23282d;
    padding-left: 0px;
    width: 100%;
    height: 100% !important;
    transition: ease-in-out 0.5s !important;
    right: -100%;
}

#respon-menu.active {
    display: block;
    right: 0%;
    transition: ease-in-out 0.5s !important;
}

#respon-menu li a {
    color: #eeeeee;
    font-size: 20px;
    border-bottom: 1px solid #8f8f8f;
    padding: 15px 0px 15px 30px;
}

#respon-menu li form {
    position: relative;
    color: #eeeeee;
    font-size: 20px;
    border-bottom: 1px solid #8f8f8f;
    padding: 15px 0px 15px 30px;
}

#respon-menu li form input {
    width: 95%;
    background-color: rgb(19, 22, 25);
    border: none;
    color: white;
    padding-left: 13px;
}

#respon-menu li form button {
    height: 30px;
    position: absolute;
    top: 16px;
    right: 30px;
    background-color: rgb(19, 22, 25);
    color: #909090;
    border: none;
}

/* MAIN */

.hight-light .row {
    justify-content: space-between;
    margin-bottom: 30px;
}

.hight-light .row .item {
    flex-basis: 31.58%;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.hight-light .row .item a {
    max-height: 240px;
    overflow: hidden;
}

.hight-light .row .item a img {
    transition: all 0.4s ease-in-out;
}

.hight-light .row .item a img:hover {
    transition: all 0.4s ease-in-out;
    transform: scale(1.05);
}

.hight-light .row .item p a {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    text-transform: uppercase;
    color: #5f5f5f;
}

.title {
    background-color: #23282d;
    display: inline-block;
    margin-bottom: 20px;
}

.title h2 {
    margin: 0px;
    color: #eeeeee;
    padding: 5px 16px;
    font-size: 16px;
    text-transform: uppercase;
}

.line-dark {
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px;
}

/* NEWS POST */

.layout {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}

.news-post {
    flex-basis: 65.79%;
    margin-bottom: 40px;
}

.news-post .title {
    background-color: #4db2ec;
    margin: 0;
}

.line-blue {
    border-top: 2px solid #4db2ec;
    margin-bottom: 30px;
    padding: 0;
}

.post {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    margin-bottom: 34px;
}

.img {
    flex-basis: 35.067%;
}

.content {
    flex-basis: 60.667%;
}

.title-post {
    font-size: 21px;
    font-weight: 600;
    color: #111111;
}

.title-post:hover {
    color: #4db2ec;
}

.content .author {
    color: #111111;
    font-weight: bold;
    font-size: 11px;
}

.content p span {
    font-size: 11px;
    color: #aaaaaa;
}

.content p {
    color: #777777;
    font-size: 13px;
}

.ads {
    flex-basis: 31.578%;
}

.ads a {
    margin-bottom: 40px;
}

.title-interested .title {
    text-transform: uppercase;
    background-color: #ff2d2d;
    margin: 0;
}

.title-interested ul {
    width: 100% !important;
    font-size: 16px;
    padding: 0;
}

.title-interested ul li {
    position: relative;
    display: block;
}

.title-interested ul li a {
    color: #212121;
    font-size: 16px;
    font-weight: 400;
}

.title-interested ul li a span {
    color: #212121;
    font-size: 16px;
    font-weight: 400;
}

.title-interested ul li:hover a {
    text-decoration: none;
    color: #ff5959;
}

.title-interested ul li:hover a span {
    color: #ff5959;
}

.title-interested ul li a {
    margin: 0;
    padding: 5px 0px;
    font-size: 16px;
}

.title-interested ul li a span {
    position: absolute;
    right: 0px;
}

.line-red {
    border-top: 2px solid #ff2d2d;
    margin-bottom: 35px;
}

#map {
    margin-bottom: 20px !important;
    padding: 0 !important;
}

/* FOOTER */

#footer {
    background-color: #2e2f30;
}

#main-footer {
    padding-top: 50px;
    padding-bottom: 75px;
    display: flex;
    justify-content: space-between;
}

.logo-footer {
    display: flex;
    flex-basis: 17.1%;
    justify-items: center;
    align-items: center;
}

.about {
    flex-basis: 42.5%;
}

.about h2 {
    font-size: 18px;
    color: #f6f6f6;
    text-transform: uppercase;
    padding-bottom: 40px;
    margin: 0;
}

.about p {
    color: #f6f6f6;
    font-size: 14px;
    margin: 0;
}

.about p a {
    color: #49a5d9;
    font-size: 14px;
}

.follow {
    flex-basis: 14.47%;
}

.follow h2 {
    font-size: 18px;
    color: #eeeeee;
    text-transform: uppercase;
    padding-bottom: 40px;
    margin: 0;
}

.follow ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.follow ul li:hover a {
    color: #4db2ec;
}

.follow ul li a {
    display: flex;
    color: #eeeeee;
    width: 35px;
    height: 35px;
    background-color: #434648;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 16px;
}

#copyright {
    background-color: #222527;
}

#copyright .container .row .main {
    color: #ffffff;
}

#copyright .container .row {
    padding: 10px 0px;
    justify-content: space-between;
}

#copyright .container .row ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

#copyright .container .row ul li {
    margin-left: 30px;
}

#copyright .container .row ul li:hover a {
    color: #4babe3;
    text-decoration: none;
}

#copyright .container .row ul li a {
    font-size: 14px;
    color: #d5d5d5;
}

/* OTHER */

.m-0 {
    margin: 0;
}

.active-color {
    color: #4db2ec !important;
}

.active {
    display: block !important;
    top: 60px !important;
}

#nav-icon4 {
    position: absolute !important;
    width: 35px;
    height: 42px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 5;
    text-align: center;
    float: right;
    right: 10px;
    top: 15px;
}

#nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    content: '';
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    z-index: 9999;
    background: #eeeeee;
    color: #eeeeee;
}

#nav-icon4 span:nth-child(1) {
    top: 0;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    top: 11px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 22px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(4) {
    top: 24px;
    font-size: 12px;
    background: none;
    font-weight: 500;
    text-align: center;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -1px;
    left: 5px;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 24px;
    left: 5px;
}

#toTop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 30px;
    background-color: rgb(19, 22, 25);
    color: white;
    font-size: 40px;
    padding-top: auto;
    padding-bottom: auto;
    border: 1px solid white;
    transition: 0.3s ease-in-out;
}

#toTop:hover {
    border-radius: 50%;
    cursor: pointer;
}

@keyframes zoom {
    0% {
        transform: scale(.5);
        opacity: 0
    }

    50% {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: scale(1)
    }
}

@keyframes lucidgenzalo {
    0% {
        transform: rotate(-25deg)
    }

    50% {
        transform: rotate(25deg)
    }
}

.jscroll-to-top {
    bottom: 100px
}

.fcta-zalo-ben-trong-nut svg path {
    fill: #fff
}

.fcta-zalo-vi-tri-nut {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 999
}

.fcta-zalo-nen-nut,
div.fcta-zalo-mess {
    box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16)
}

.fcta-zalo-nen-nut {
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: #0068ff;
    border-radius: 50%;
    position: relative
}

.fcta-zalo-nen-nut::after,
.fcta-zalo-nen-nut::before {
    content: "";
    position: absolute;
    border: 1px solid #0068ff;
    background: #0068ff80;
    z-index: -1;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: zoom 1.9s linear infinite
}

.fcta-zalo-nen-nut::after {
    animation-delay: .4s
}

.fcta-zalo-ben-trong-nut,
.fcta-zalo-ben-trong-nut i {
    transition: all 1s
}

.fcta-zalo-ben-trong-nut {
    position: absolute;
    text-align: center;
    width: 60%;
    height: 60%;
    left: 10px;
    bottom: 34px;
    line-height: 70px;
    font-size: 25px;
    opacity: 1
}

.fcta-zalo-ben-trong-nut i {
    animation: lucidgenzalo 1s linear infinite
}

.fcta-zalo-nen-nut:hover .fcta-zalo-ben-trong-nut,
.fcta-zalo-text {
    opacity: 0
}

.fcta-zalo-nen-nut:hover i {
    transform: scale(.5);
    transition: all .5s ease-in
}

.fcta-zalo-text a {
    text-decoration: none;
    color: #fff
}

.fcta-zalo-text {
    position: absolute;
    top: 6px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    transform: scaleX(-1);
    transition: all .5s;
    line-height: 1.5
}

.fcta-zalo-nen-nut:hover .fcta-zalo-text {
    transform: scaleX(1);
    opacity: 1
}

div.fcta-zalo-mess {
    position: fixed;
    bottom: 38px;
    right: 58px;
    z-index: 99;
    background: #fff;
    padding: 7px 25px 7px 15px;
    color: #0068ff;
    border-radius: 50px 0 0 50px;
    font-weight: 700;
    font-size: 15px
}

.fcta-zalo-mess span {
    color: #0068ff !important
}

span#fcta-zalo-tracking {
    font-family: Roboto;
    line-height: 1.5
}

.fcta-zalo-text {
    font-family: Roboto
}